*.py[co]
.project
.pydevproject
*~
*.db
*.orig
*.DS_Store
.coverage
.vagrant
*/settings/local.py
public/static/
public/media/
*-env/
*.log
*.pid
*.bak
data/
.idea/
sample_query.json
auth
.venv/
.env
.envrc
dist/
build/
*.egg-info/
