[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycounters = "*"
flask-debugtoolbar = "*"
coverage = "*"
flake8 = "*"
flake8-html = "*"
isort = "*"

[packages]
alembic = "*"
arrow = "*"
blinker = "*"
cffi = "*"
click = "*"
contextlib2 = "*"
# Flask-CouchDB = "*"
couchdbkit = "*"
cryptography = "*"
ecdsa = "*"
enum34 = "*"
Flask = "*"
Flask-Login = "*"
Flask-Migrate = "*"
Flask-Script = "*"
Flask-SQLAlchemy = "*"
Flask-Testing = "*"
gevent = "*"
greenlet = "*"
gunicorn = "*"
http-parser = "*"
httplib2 = "*"
idna = "*"
ipaddress = "*"
itsdangerous = "*"
Jinja2 = "*"
Mako = "*"
MarkupSafe = "*"
nose = "*"
ordered-set = "*"
paramiko = "*"
phonenumbers = "*"
psycopg2-binary = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycparser = "*"
python-dateutil = "*"
python-editor = "*"
python-stdnum = "*"
redis = "*"
requests = "*"
restkit = "*"
rq = "*"
rq-dashboard = "*"
rsa = "*"
simplejson = "*"
six = "*"
socketpool = "*"
SQLAlchemy = "*"
u-msgpack-python = "*"
Unidecode = "*"
uritemplate = "*"
Werkzeug = "*"
flask_admin = "*"
celery = "*"
flask-wtf = "*"
sentry-sdk = "*"

[requires]
python_version = "2.7"
